*{
    margin: 0;
    padding: 0;
    outline: none;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.88rem;
    background-color: #f6f6f9;
    user-select: none;
    overflow-x: hidden;
}
.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}
a{
    color: goldenrod;
}
h1{
    font-size: 1.8rem;
    font-weight: 800;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 0.87rem;
}
h5{
    font-size: 0.8;
}
small{
    font-size: 0.75rem;
}
.photo-profil{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-bas{
    color: #7d8da1;
}
p{
    color: #677483;
}
b{
    color: #363949;
}
.primary{

}
.danger{

}
.success{

}
warning{

}
aside{
    height: 100vh;
    background-color: #2E3A64;
}
aside .top{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;

}
aside .logo{
    display: flex;
    gap: 0.8rem;
}
aside .logo img{
    width: 2rem;
    height: 2rem;
}
aside .close{
    display: none;
}
aside h3{
    font-weight: 500;
}
aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}
aside .sidebar a{
    display: flex;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}
aside .sidebar span a{
    font-size: 1.6rem;
}
aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}