body{
    margin: 0;
    padding: 0;
}
header{
    padding: 30px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #2E3A64;
}
.logo a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    display: flex; 
    margin: 0;
    padding: 0;
}
nav ul li{  
  margin: 0 10px;
  list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-login {
    padding: 8px 15px;
    background-color: goldenrod;   
    color: white;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid white;       
}

.first{
    display: flex;
    justify-content: space-between;
    margin: 70px;
}
.first h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.5em;
    color: #458D90;
    margin-top: 50px;
}
.first h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em; 
    color: goldenrod;
}
.first a{ 
    text-decoration: none;
    color: #fff;
    border: 1px solid black ; 
    background-color: #2E3A64;
    padding: 8px 20px;
    border-radius: 10px;
    transition: background-color 0.3s;
}
.first a:hover {
    background-color: #EDC871; /* effet au survol */
}